<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css" media="screen" title="no title" charset="utf-8">
<style type="text/css" media="screen">
  table {
    width: 100%;
  }
  table textarea {
    height: 100%;
    width: 100%;
  }
</style>
<h3>The petitions are in m'lud!</h3>

<form action="/ptk_submission" method="post">
<table>
<% @issues.each do |issue| %>
  <tr>
    <td colspan="4">
        <img class="avatar" src="<%= issue['user']['avatar_url'] %>">
      <h4><a href="<%= issue['html_url'] %>"><%= "#{issue['title']} - #{issue['number']}" %></a></h4>
    </td>
  </tr>
  <tr>
    <td class="comment-cell">
      <div class="comments">
        <% if !issue['body'].blank? %>
        <pre style="background: #FFECCB"><%= issue['body']
 %></pre>
        <% end %>
        <% issue['comments'].each do |comment| %>
          <img class="avatar" src="<%= comment['user']['avatar_url'] %>">
          <pre><%= comment['body'] %></pre>
        <% end %>
      </div>  
    </td>
    <td class="accept"><input type="radio" name="issues[<%= issue['id'] %>][accepted]" value="1" checked="checked" required="required"></td>
    <td class="deny"><input type="radio" name="issues[<%= issue['id'] %>][accepted]" value="0" required="required"></td>
    <td><textarea rows="5" cols="40" name="issues[<%= issue['id'] %>][comment]"></textarea></td>
  </tr>
<% end %>
</table>
<input type="submit">
</form>