<style type="text/css" media="screen">
  * {
    font-family: arial;
  }
  .accepted a {
    color: #4BE800;
  }
  .declined a {
    color: #FF9095;
  }
</style>
<h2>The petitions have been decided!</h2>

<h3>Accepted</h3>
<% @accepted.each do |issue| %>
  <div class="accepted">
    <h4 style="color:#008F54">
      <a href="<%= issue['html_url'] %>"><%= "#{issue['title']} - #{issue['number']}" %></a>
    </h4>
    <% if !issue['reason'].blank? %>
    <p><%= issue['reason'] %></p>
    <% end %>
  </div>
<% end %>

<h3>Back to the swamp</h3>
<% @denied.each do |issue| %>
  <div class="declined">
    <h4>
      <a href="<%= issue['html_url'] %>"><%= "#{issue['title']} - #{issue['number']}" %></a>
    </h4>
    <% if !issue['reason'].blank? %>
    <p><%= issue['reason'] %></p>
    <% end %>
  </div>
<% end %>
